FORMAT: 1A
HOST: http://www.caiex.com:12317/CaiexOpenNewsApi/

# SI-API

SI资讯的数据接口-微信版



## SINA Ying - 中文资讯 [/matchInfo_cn?matchId={matchId}]

中文内容 - 中英文的 Id 通过另外一个接口获取

+ Parameters
    + matchId: `1284` (number) - cn match id
    
### matchInfo_cn [GET]
+ Response 200 (application/json)

        {
        "leagueName": "英格兰超级联赛",
        "homeBattleFormation": [],
        "homeStar": 4,
        "homesuspended": "菲尔·贾吉尔卡,亚尼克·博拉西耶,穆罕默德·贝希奇",
        "awaypossibleinjury": "马蒂普,格鲁伊奇,埃姆雷·坎,丹尼尔·斯图里奇,奥利吉",
        "awayBattleFormation": [],
        "weather": null,
        "awayhomeLatest5": "1X21X",
        "homeLatest5": "12X2X",
        "homeawayLatest5": "12X2X",
        "awaySummary": "<p>利物浦本赛季不败能力强劲，近18场正赛仅输掉一场，战绩为13胜4平1负，打入48球失16球，攻守俱佳。</p>\n",
        "awayLatest5": "1X21X",
        "awaysuspended": null,
        "awayawayLatest5": "1X21X",
        "awayStar": 4,
        "homepossibleinjury": null,
        "awayAtAwayLatest5": "12X11",
        "homeSummary": "<p>埃弗顿上场英超主场2-1大逆转第2的阿森纳，打破其14场不败和客场不败金身，并结束自身5场不胜的尴尬，士气高涨。</p>\n",
        "awayinjury": "菲利佩·库蒂尼奥,丹尼·爱格斯",
        "homeFormation": "",
        "homeAtHomeLatest5": "1XX1X",
        "matchDate": "2016-12-20 04:00:00",
        "awayName": "利物浦",
        "matchId": 1284,
        "homeinjury": null,
        "homeName": "埃弗顿",
        "homehomeLatest5": "12X2X",
        "awayFormation": ""
        }




## SINA Ying - 英文资讯 [/matchInfo_en?matchId={matchId}]

英文内容 - 中英文的 Id 通过另外一个接口获取

+ Parameters
    + matchId: `113182` (number) - game id
    
### matchInfo_en [GET]
+ Response 200 (application/json)

        {
        "awaysuspended": null,
        "leagueName": "Premier League",
        "awayStar": 4,
        "homeBattleFormation": [
        {
        "position": "(gk)",
        "importance": "无",
        "name": "Maarten Stekelenburg",
        "playerid": 6072
        },
        {
        "position": "(def)",
        "importance": "无",
        "name": "Seamus Coleman",
        "playerid": 23804
        },
        {
        "position": "(def)",
        "importance": "无",
        "name": "Ramiro Funes Mori",
        "playerid": 63237
        },
        {
        "position": "(def)",
        "importance": "无",
        "name": "Ashley Williams",
        "playerid": 320
        },
        {
        "position": "(def)",
        "importance": "无",
        "name": "Leighton Baines",
        "playerid": 9013
        },
        {
        "position": "(mid)",
        "importance": "无",
        "name": "Idrissa Gueye",
        "playerid": 40566
        },
        {
        "position": "(mid)",
        "importance": "无",
        "name": "James McCarthy",
        "playerid": 2198
        },
        {
        "position": "(mid)",
        "importance": "无",
        "name": "Gareth Barry",
        "playerid": 6326
        },
        {
        "position": "(att)",
        "importance": "无",
        "name": "Enner Valencia",
        "playerid": 58574
        },
        {
        "position": "(att)",
        "importance": "无",
        "name": "Romelu Lukaku",
        "playerid": 39195
        },
        {
        "position": "(mid)",
        "importance": "无",
        "name": "Aaron Lennon",
        "playerid": 8789
        }
        ],
        "homepossibleinjury": null,
        "awayAtAwayLatest5": "12X11",
        "homeStar": 4,
        "homesuspended": "Phil Jagielka,Yannick Bolasie,Muhamed Besic",
        "awaypossibleinjury": "Daniel Sturridge,Divock Origi",
        "homeSummary": "<p><strong>Snapped out of a winless streak by beating Arsenal 2-1....Have failed to beat Liverpool in 12 previous attempts....Yannick Bolasie(r)(mid), Muhamed Besic(sp)(mid) out injured....Phil Jagielka(r)(def) suspended....</strong>Everton put up a solid display in the midweek as they snapped out of a five-match winless streak with a hard fought 2-1 win over Arsenal. A poor run of just one win in their last 11 games had increased the pressure on Ronald Koeman but the Everton coach will be pleased with what he saw on the field in their last match as his side proved to be more than a match to Arsenal and fought back from a goal down to seal a deserved victory thanks to goals from Seamus Coleman and Ashley Williams. The win provides fresh boost to Everton's hopes of challenging for a Europa League spot but Koeman will be aware that his side will have to build on the performance and go on a good run if they are to be considered serious challengers for a place in the top six. They face another difficult game in their next match when they welcome arch rivals Liverpool on Monday. Everton have a poor record in the Merseyside derby and head into the match on the back of a poor run which has seen them fail to win in the last 12 meetings between the two sides, though they have lost just once in the last six games at Goodison Park. Yannick Bolasie and Muhamed Besic remain out injured for Everton who will also be without Phil Jagielka, after the defender was sent off deep in injury time against Arsenal.</p>",
        "awayinjury": "Philippe Coutinho,Marko Grujic,Danny Ings",
        "awayBattleFormation": [
        {
        "position": "(gk)",
        "importance": "无",
        "name": "Simon Mignolet",
        "playerid": 26839
        },
        {
        "position": "(def)",
        "importance": "无",
        "name": "Nathaniel Clyne",
        "playerid": 35550
        },
        {
        "position": "(def)",
        "importance": "无",
        "name": "Ragnar Klavan",
        "playerid": 7708
        },
        {
        "position": "(def)",
        "importance": "无",
        "name": "Dejan Lovren",
        "playerid": 12995
        },
        {
        "position": "(mid)",
        "importance": "无",
        "name": "James Milner",
        "playerid": 8650
        },
        {
        "position": "(mid)",
        "importance": "无",
        "name": "Adam Lallana",
        "playerid": 29468
        },
        {
        "position": "(mid)",
        "importance": "无",
        "name": "Jordan Henderson",
        "playerid": 35653
        },
        {
        "position": "(mid)",
        "importance": "无",
        "name": "Georginio Wijnaldum",
        "playerid": 23074
        },
        {
        "position": "(att)",
        "importance": "无",
        "name": "Sadio Mane",
        "playerid": 47928
        },
        {
        "position": "(att)",
        "importance": "无",
        "name": "Divock Origi",
        "playerid": 52386
        },
        {
        "position": "(att)",
        "importance": "无",
        "name": "Roberto Firmino",
        "playerid": 44074
        },
        {
        "position": "(def)",
        "importance": "无",
        "name": "Joel Matip",
        "playerid": 40140
        }
        ],
        "homeAtHomeLatest5": "1XX1X",
        "matchDate": "2016-12-20 12:00:00",
        "homeFormation": "",
        "matchId": 113182,
        "awayName": "Liverpool",
        "homeinjury": null,
        "weather": 7,
        "homeName": "Everton",
        "homeLatest5": "12X2X",
        "awaySummary": "<p style=\"text-align: justify;\"><strong>Climbed back in second place with convincing 3:0 away win vs. Middlesbrough and will enter the local derby full of confidence &hellip; Can&rsquo;t afford mistakes as gap to the top is already six points &hellip; Ings (sp) (att) and Coutinho (k) (mid) sidelined &hellip; Sturridge (sp) (att), Grujic (sp) (mid), Matip (r) (def) and Can (sp) (mid) doubtful<span style=\"color: #0000ff;\">. Can and Matip passed fit, but Grujic ruled out</span> &hellip; Origi (sp) (att) slight concern ... </strong>Liverpool returned to winning ways on Wednesday night when star performance from Lallana, he scored two goals and added an assist to that, saw the Reds cruising to an easy 3:0 away win vs. Middlesbrough and as a result of that they reclaimed second place on goal difference. Klopp was happy not just with the usual strong display in the final third but also with his team&rsquo;s defensive stability and after being restored between the posts and keeping a clean sheet now Mignolet is almost certain to start again. He has previous experience in this fierce local derby too and Liverpool must seek another win on Monday night if they are to remain with realistic chances to catch Chelsea. In recent weeks the young striker Origi grabbed his chance, he became a regular starter once Coutinho got hurt, and with goals in five consecutive games in all competition the Belgian is taking the league by storm at the minute. He picked up a knock on Wednesday, but it is 99% certain that he will recover on time for this one. All of Sturridge, Grujic, Matip and Can also battle hard to return to full fitness soon and at least the last two have good chances to achieve that on time for the Merseyside derby.&nbsp;<span style=\"color: #0000ff;\">Matip and Can are cleared to play, with Sturridge also hopeful to make the bench, but Grujic will miss again.</span> Ings and Coutinho are long-term absentees and they won&rsquo;t feature.<strong><br /></strong></p>",
        "awayLatest5": "1X21X",
        "awayFormation": ""
        }



## SINA Ying - 中文球员 [/player_cn]

中文球员信息

    
### player_cn [GET]
+ Response 200 (application/json)

        {
        
        }




## SINA Ying - 英文球员 [/player_en?playerId={playerId}]

英文球员信息

+ Parameters
    + playerId: `47928` (number) - match id
    
### player_en [GET]
+ Response 200 (application/json)

        {
        "position": "(att)",
        "fiveGames": [
        {
        "homeName": "Liverpool",
        "awayName": "West Ham United",
        "score": "2:2",
        "bunko": "平",
        "expression": "5"
        },
        {
        "homeName": "Bournemouth",
        "awayName": "Liverpool",
        "score": "4:3",
        "bunko": "主胜",
        "expression": "4-5-6"
        },
        {
        "homeName": "Liverpool",
        "awayName": "Sunderland",
        "score": "2:0",
        "bunko": "主胜",
        "expression": "5"
        },
        {
        "homeName": "Liverpool",
        "awayName": "Watford",
        "score": "0:0",
        "bunko": "平",
        "expression": "4-5-6"
        },
        {
        "homeName": "Liverpool",
        "awayName": "Leeds United",
        "score": "2:0",
        "bunko": "主胜",
        "expression": "5"
        },
        {
        "homeName": "Middlesbrough",
        "awayName": "Liverpool",
        "score": "0:3",
        "bunko": "主负",
        "expression": "5"
        },
        {
        "homeName": "Southampton",
        "awayName": "Liverpool",
        "score": "0:0",
        "bunko": "平",
        "expression": "4-5"
        }
        ],
        "playerImg": null,
        "firstNum": 16,
        "playerName": "Sadio Mane",
        "playerid": 47928,
        "team": "Liverpool",
        "yellNum": 2,
        "goalNum": 7,
        "redNum": 0,
        "nationality": "French",
        "importance": "无",
        "matchNum": 16
        }






## SINA Ying - 中文赛事 [/matches_cn?matchId={matchId}]

中文赛事信息

+ Parameters
    + matchId: `113182` (number) - match id

### matches_cn [GET]
+ Response 200 (application/json)

        {
        "homeScoreNo": 23,
        "awayName": "Liverpool",
        "awayFumbleNo": 20,
        "homeName": "Everton",
        "homeFumbleAverage": 1,
        "keyEvents": [],
        "homeFumbleNo": 20,
        "awayGoalAverage": 2,
        "homeGoalAverage": 1,
        "awayScoreNo": 34,
        "awayFumbleAverage": 1
        }



## SINA Ying - 英文赛事 [/matches_en]

英文赛事信息

### matches_en [GET]
+ Response 200 (application/json)

        {
        
        }





## SINA Ying - 中文赛事 ID [/queryMatchID?uniqueid={uniqueID}]

获取中文赛事 ID

+ Parameters
    + uniqueID: `201612191007` (number) - caiex unique id

### queryMatchID [GET]
+ Response 200 (application/json)

        {
        "matchID": 1284
        }




## SINA Ying - 英文赛事 ID [/querySIMatchID?uniqueid={uniqueID}]

获取英文赛事 ID

+ Parameters
    + uniqueID: `201612191007` (number) - caiex unique id


### querySIMatchID [GET]
+ Response 200 (application/json)

        {
        "caiex_matchnews_id": 113182
        }





















           
## Game - MatchInfo [/tabList/getMatchInfo.shtml?dateVal={dateVal}&payout_type={payout_type}&player_id={player_id}]
  赛事列表
  
+ Parameters
    + dateVal: `2016-11-11` (timestamp) - picked date 
    + payout_type: `2` (number) - game type 1 or 2
    + player_id: `46` (number) - wechat id
  
### getMatchInfo for the default list [GET]
+ Response 200 (application/json)

        {
            "data":{
                "gameList":[
                    {
                        "auto_payout":1,
                        "auto_sync":1,
                        "awayUrl":null,
                        "bonus":0,
                        "championJoinState":1,
                        "champion_game_bonus":null,
                        "champion_game_state":1,
                        "champion_payout_state":0,
                        "champion_player_now":3,
                        "countGame":null,
                        "create_time":"2016-11-15 10:35:30",
                        "create_user":null,
                        "create_user_name":null,
                        "date":null,
                        "end_sign_time":"2016-11-15 18:35:00",
                        "freeJoinState":0,
                        "free_game_bonus":null,
                        "free_game_state":0,
                        "free_payout_state":0,
                        "free_player_now":0,
                        "game_id":201605242536,
                        "game_start_time":"2016-11-15 18:35:00",
                        "game_type":null,
                        "gpFree_id":null,
                        "gpGame_id":1635,
                        "hadTcl":null,
                        "half_score":"-",
                        "hhadTcl":null,
                        "homeUrl":null,
                        "isclick":false,
                        "isclickFree":false,
                        "isclickGame":false,
                        "keyEvents":null,
                        "match_code":"201611152001",
                        "match_league":"\u4E9A\u6D32\u9884\u9009",
                        "match_league_id":null,
                        "match_score":"0-0",
                        "match_state":1,
                        "match_teams":"\u65E5\u672C vs \u6C99\u7279",
                        "match_time":null,
                        "num":null,
                        "player_limit":null,
                        "price_limit":null,
                        "res":null,
                        "reward_percent":"50,30,10",
                        "sign_cost":1000,
                        "sport_type":1,
                        "sum_jackpot":3000,
                        "w500":null
                    },
                    {
                        "auto_payout":1,
                        "auto_sync":1,
                        "awayUrl":null,
                        "bonus":0,
                        "championJoinState":1,
                        "champion_game_bonus":null,
                        "champion_game_state":1,
                        "champion_payout_state":0,
                        "champion_player_now":3,
                        "countGame":null,
                        "create_time":"2016-11-15 11:00:30",
                        "create_user":null,
                        "create_user_name":null,
                        "date":null,
                        "end_sign_time":"2016-11-15 19:00:00",
                        "freeJoinState":0,
                        "free_game_bonus":null,
                        "free_game_state":0,
                        "free_payout_state":0,
                        "free_player_now":0,
                        "game_id":201605242537,
                        "game_start_time":"2016-11-15 19:00:00",
                        "game_type":null,
                        "gpFree_id":null,
                        "gpGame_id":1639,
                        "hadTcl":null,
                        "half_score":"-",
                        "hhadTcl":null,
                        "homeUrl":null,
                        "isclick":false,
                        "isclickFree":false,
                        "isclickGame":false,
                        "keyEvents":null,
                        "match_code":"201611152002",
                        "match_league":"\u4E9A\u6D32\u9884\u9009",
                        "match_league_id":null,
                        "match_score":"0-0",
                        "match_state":1,
                        "match_teams":"\u97E9\u56FD vs \u4E4C\u5179\u522B\u514B\u65AF\u5766",
                        "match_time":null,
                        "num":null,
                        "player_limit":null,
                        "price_limit":null,
                        "res":null,
                        "reward_percent":"50,30,10",
                        "sign_cost":1000,
                        "sport_type":1,
                        "sum_jackpot":4000,
                        "w500":null
                    },
                    {
                        "auto_payout":1,
                        "auto_sync":1,
                        "awayUrl":null,
                        "bonus":0,
                        "championJoinState":3,
                        "champion_game_bonus":null,
                        "champion_game_state":1,
                        "champion_payout_state":0,
                        "champion_player_now":4,
                        "countGame":null,
                        "create_time":"2016-11-15 10:39:10",
                        "create_user":null,
                        "create_user_name":null,
                        "date":null,
                        "end_sign_time":"2016-11-15 19:35:00",
                        "freeJoinState":0,
                        "free_game_bonus":null,
                        "free_game_state":1,
                        "free_payout_state":0,
                        "free_player_now":0,
                        "game_id":201605242538,
                        "game_start_time":"2016-11-15 19:35:00",
                        "game_type":null,
                        "gpFree_id":null,
                        "gpGame_id":1647,
                        "hadTcl":null,
                        "half_score":"-",
                        "hhadTcl":null,
                        "homeUrl":null,
                        "isclick":false,
                        "isclickFree":false,
                        "isclickGame":false,
                        "keyEvents":null,
                        "match_code":"201611152003",
                        "match_league":"\u4E9A\u6D32\u9884\u9009",
                        "match_league_id":null,
                        "match_score":"-",
                        "match_state":0,
                        "match_teams":"\u4E2D\u56FD vs \u5361\u5854\u5C14",
                        "match_time":null,
                        "num":null,
                        "player_limit":null,
                        "price_limit":null,
                        "res":null,
                        "reward_percent":"50,30,10",
                        "sign_cost":1000,
                        "sport_type":1,
                        "sum_jackpot":6000,
                        "w500":null
                    },
                    {
                        "auto_payout":1,
                        "auto_sync":1,
                        "awayUrl":null,
                        "bonus":0,
                        "championJoinState":2,
                        "champion_game_bonus":null,
                        "champion_game_state":1,
                        "champion_payout_state":0,
                        "champion_player_now":2,
                        "countGame":null,
                        "create_time":"2016-11-15 10:39:30",
                        "create_user":null,
                        "create_user_name":null,
                        "date":null,
                        "end_sign_time":"2016-11-15 20:00:00",
                        "freeJoinState":0,
                        "free_game_bonus":null,
                        "free_game_state":1,
                        "free_payout_state":0,
                        "free_player_now":0,
                        "game_id":201605242539,
                        "game_start_time":"2016-11-15 20:00:00",
                        "game_type":null,
                        "gpFree_id":null,
                        "gpGame_id":1651,
                        "hadTcl":null,
                        "half_score":"-",
                        "hhadTcl":null,
                        "homeUrl":null,
                        "isclick":false,
                        "isclickFree":false,
                        "isclickGame":false,
                        "keyEvents":null,
                        "match_code":"201611152004",
                        "match_league":"\u4E9A\u6D32\u9884\u9009",
                        "match_league_id":null,
                        "match_score":"-",
                        "match_state":0,
                        "match_teams":"\u53D9\u5229\u4E9A vs \u4F0A\u6717",
                        "match_time":null,
                        "num":null,
                        "player_limit":null,
                        "price_limit":null,
                        "res":null,
                        "reward_percent":"50,30,10",
                        "sign_cost":1000,
                        "sport_type":1,
                        "sum_jackpot":3000,
                        "w500":null
                    },
                    {
                        "auto_payout":1,
                        "auto_sync":1,
                        "awayUrl":null,
                        "bonus":0,
                        "championJoinState":1,
                        "champion_game_bonus":null,
                        "champion_game_state":1,
                        "champion_payout_state":0,
                        "champion_player_now":2,
                        "countGame":null,
                        "create_time":"2016-11-15 10:42:19",
                        "create_user":null,
                        "create_user_name":null,
                        "date":null,
                        "end_sign_time":"2016-11-15 20:00:00",
                        "freeJoinState":0,
                        "free_game_bonus":null,
                        "free_game_state":1,
                        "free_payout_state":0,
                        "free_player_now":0,
                        "game_id":201605242541,
                        "game_start_time":"2016-11-15 20:00:00",
                        "game_type":null,
                        "gpFree_id":null,
                        "gpGame_id":1665,
                        "hadTcl":null,
                        "half_score":"-",
                        "hhadTcl":null,
                        "homeUrl":null,
                        "isclick":false,
                        "isclickFree":false,
                        "isclickGame":false,
                        "keyEvents":null,
                        "match_code":"201611152005",
                        "match_league":"\u4E9A\u6D32\u9884\u9009",
                        "match_league_id":null,
                        "match_score":"-",
                        "match_state":0,
                        "match_teams":"\u6CF0\u56FD  vs  \u6FB3\u5927\u5229\u4E9A",
                        "match_time":null,
                        "num":null,
                        "player_limit":null,
                        "price_limit":null,
                        "res":null,
                        "reward_percent":"50,30,10",
                        "sign_cost":1000,
                        "sport_type":1,
                        "sum_jackpot":2000,
                        "w500":null
                    },
                    {
                        "auto_payout":1,
                        "auto_sync":1,
                        "awayUrl":null,
                        "bonus":0,
                        "championJoinState":1,
                        "champion_game_bonus":null,
                        "champion_game_state":1,
                        "champion_payout_state":0,
                        "champion_player_now":3,
                        "countGame":null,
                        "create_time":"2016-11-15 10:40:55",
                        "create_user":null,
                        "create_user_name":null,
                        "date":null,
                        "end_sign_time":"2016-11-15 23:20:00",
                        "freeJoinState":0,
                        "free_game_bonus":null,
                        "free_game_state":1,
                        "free_payout_state":0,
                        "free_player_now":0,
                        "game_id":201605242542,
                        "game_start_time":"2016-11-15 23:20:00",
                        "game_type":null,
                        "gpFree_id":null,
                        "gpGame_id":1638,
                        "hadTcl":null,
                        "half_score":"-",
                        "hhadTcl":null,
                        "homeUrl":null,
                        "isclick":false,
                        "isclickFree":false,
                        "isclickGame":false,
                        "keyEvents":null,
                        "match_code":"201611152006",
                        "match_league":"\u4E9A\u6D32\u9884\u9009",
                        "match_league_id":null,
                        "match_score":"-",
                        "match_state":0,
                        "match_teams":"\u963F\u8054\u914B vs \u4F0A\u62C9\u514B",
                        "match_time":null,
                        "num":null,
                        "player_limit":null,
                        "price_limit":null,
                        "res":null,
                        "reward_percent":"50,30,10",
                        "sign_cost":1000,
                        "sport_type":1,
                        "sum_jackpot":3000,
                        "w500":null
                    }
                ]
            },
            "result":{
                "resultCode":1,
                "resultMsg":null
            }
        }

## Game - Angular.js userService [/fallsList/getMatchUser.shtml?player_id={player_id}]
   游戏 获取用户信息
  
+ Parameters
    + player_id: `46` (number) - wechat id
  
### getMatchUser [GET]
+ Response 200 (application/json)

        {
            "data":{
                "birthday":"1996-06-21 09:53:49",
                "city":"",
                "headPicUrl":"http://www.caiex.com/img/logo.png",
                "money":100000.00,
                "phone":null,
                "player_id":46,
                "player_nickname":"\u9F99\u654F",
                "sex":2,
                "union_id":"oa7AjwoZHDzTU5poRpp778R1Qz-U",
                "update_time":"2016-11-09 07:23:29"
            },
            "result":{
                "resultCode":0,
                "resultMsg":null
            }
        }
        
        
        
## Game - ionic echart.js plotting [/agInfoMation/getAllPriHistory.shtml?game_id={game_id}&opt={opt}&player_id={player_id}]

   资讯页面内显示6条曲线
  
+ Parameters
    + player_id: `45` (number) - wechat id
    + game_id: `201605242627` (number) - game id
    + opt: `H` (string) - betting option
  
### getAllPriHistory [GET]
+ Response 200 (application/json)

        {
            "data":[
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45",
                "797.45"
            ],
            "result":{
                "resultCode":1,
                "resultMsg":null
            }
        }