FORMAT: 1A
HOST: http://www.caiex.com:12317/CaiexOpenNewsApi/

# SI-API

SI资讯的数据接口-微信版



## SINA Ying - 中文资讯 [/matchInfo_cn?matchId={matchId}]

中文内容 - 中英文的 Id 通过另外一个接口获取
请求参数：
- matchId
返回字段：
- leagueName：联赛名称
- weather：天气（显示温度）
- homeName：主队名称
- homeStar：主队星级
- homeSummary：主队赛事信息
- homeFormation：主队阵型（eg: 4-3-2-1）
- homeBattleFormation：主队阵容容(包括：球员位置、球员重要性、球员姓名、球员id)
- homeinjury：主队伤停（显示球员姓名，以逗号隔开）
- homesuspended：主队停赛
- homepossibleinjury：主队疑似伤停
- homeLatest5：主队近5场战绩（1胜，x平，2负）
- homeAtHomeLatest5：主队的近5场主场战绩
- homeawayLatest5：主队的近5场客场战绩
- awayName：客队名称
- awayStar：客队星级
- awaySummary：客队赛事信息
- awayFormation：客队阵型
- awayBattleFormation：客队阵容
- awayinjury：客队伤停
- awaysuspended：客队停赛
- awaypossibleinjury：客队疑似伤停
- awayLatest5：客队近5场战绩
- awayawayLatest5：客队的近5场客场战绩
- awayhomeLatest5：客队的近5场主场战绩

+ Parameters
    + matchId: `1284` (number) - cn match id
    
### matchInfo_cn [GET]
+ Response 200 (application/json)

        {
        "leagueName": "英格兰超级联赛",
        "homeBattleFormation": [],
        "homeStar": 4,
        "homesuspended": "菲尔·贾吉尔卡,亚尼克·博拉西耶,穆罕默德·贝希奇",
        "awaypossibleinjury": "马蒂普,格鲁伊奇,埃姆雷·坎,丹尼尔·斯图里奇,奥利吉",
        "awayBattleFormation": [],
        "weather": null,
        "awayhomeLatest5": "1X21X",
        "homeLatest5": "12X2X",
        "homeawayLatest5": "12X2X",
        "awaySummary": "<p>利物浦本赛季不败能力强劲，近18场正赛仅输掉一场，战绩为13胜4平1负，打入48球失16球，攻守俱佳。</p>\n",
        "awayLatest5": "1X21X",
        "awaysuspended": null,
        "awayawayLatest5": "1X21X",
        "awayStar": 4,
        "homepossibleinjury": null,
        "awayAtAwayLatest5": "12X11",
        "homeSummary": "<p>埃弗顿上场英超主场2-1大逆转第2的阿森纳，打破其14场不败和客场不败金身，并结束自身5场不胜的尴尬，士气高涨。</p>\n",
        "awayinjury": "菲利佩·库蒂尼奥,丹尼·爱格斯",
        "homeFormation": "",
        "homeAtHomeLatest5": "1XX1X",
        "matchDate": "2016-12-20 04:00:00",
        "awayName": "利物浦",
        "matchId": 1284,
        "homeinjury": null,
        "homeName": "埃弗顿",
        "homehomeLatest5": "12X2X",
        "awayFormation": ""
        }




## SINA Ying - 英文资讯 [/matchInfo_en?matchId={matchId}]

英文内容 - 中英文的 Id 通过另外一个接口获取

+ Parameters
    + matchId: `113182` (number) - game id
    
### matchInfo_en [GET]
+ Response 200 (application/json)

        {
        "awaysuspended": null,
        "leagueName": "Premier League",
        "awayStar": 4,
        "homeBattleFormation": [
        {
        "position": "(gk)",
        "importance": "无",
        "name": "Maarten Stekelenburg",
        "playerid": 6072
        },
        {
        "position": "(def)",
        "importance": "无",
        "name": "Seamus Coleman",
        "playerid": 23804
        },
        {
        "position": "(def)",
        "importance": "无",
        "name": "Ramiro Funes Mori",
        "playerid": 63237
        },
        {
        "position": "(def)",
        "importance": "无",
        "name": "Ashley Williams",
        "playerid": 320
        },
        {
        "position": "(def)",
        "importance": "无",
        "name": "Leighton Baines",
        "playerid": 9013
        },
        {
        "position": "(mid)",
        "importance": "无",
        "name": "Idrissa Gueye",
        "playerid": 40566
        },
        {
        "position": "(mid)",
        "importance": "无",
        "name": "James McCarthy",
        "playerid": 2198
        },
        {
        "position": "(mid)",
        "importance": "无",
        "name": "Gareth Barry",
        "playerid": 6326
        },
        {
        "position": "(att)",
        "importance": "无",
        "name": "Enner Valencia",
        "playerid": 58574
        },
        {
        "position": "(att)",
        "importance": "无",
        "name": "Romelu Lukaku",
        "playerid": 39195
        },
        {
        "position": "(mid)",
        "importance": "无",
        "name": "Aaron Lennon",
        "playerid": 8789
        }
        ],
        "homepossibleinjury": null,
        "awayAtAwayLatest5": "12X11",
        "homeStar": 4,
        "homesuspended": "Phil Jagielka,Yannick Bolasie,Muhamed Besic",
        "awaypossibleinjury": "Daniel Sturridge,Divock Origi",
        "homeSummary": "<p><strong>Snapped out of a winless streak by beating Arsenal 2-1....Have failed to beat Liverpool in 12 previous attempts....Yannick Bolasie(r)(mid), Muhamed Besic(sp)(mid) out injured....Phil Jagielka(r)(def) suspended....</strong>Everton put up a solid display in the midweek as they snapped out of a five-match winless streak with a hard fought 2-1 win over Arsenal. A poor run of just one win in their last 11 games had increased the pressure on Ronald Koeman but the Everton coach will be pleased with what he saw on the field in their last match as his side proved to be more than a match to Arsenal and fought back from a goal down to seal a deserved victory thanks to goals from Seamus Coleman and Ashley Williams. The win provides fresh boost to Everton's hopes of challenging for a Europa League spot but Koeman will be aware that his side will have to build on the performance and go on a good run if they are to be considered serious challengers for a place in the top six. They face another difficult game in their next match when they welcome arch rivals Liverpool on Monday. Everton have a poor record in the Merseyside derby and head into the match on the back of a poor run which has seen them fail to win in the last 12 meetings between the two sides, though they have lost just once in the last six games at Goodison Park. Yannick Bolasie and Muhamed Besic remain out injured for Everton who will also be without Phil Jagielka, after the defender was sent off deep in injury time against Arsenal.</p>",
        "awayinjury": "Philippe Coutinho,Marko Grujic,Danny Ings",
        "awayBattleFormation": [
        {
        "position": "(gk)",
        "importance": "无",
        "name": "Simon Mignolet",
        "playerid": 26839
        },
        {
        "position": "(def)",
        "importance": "无",
        "name": "Nathaniel Clyne",
        "playerid": 35550
        },
        {
        "position": "(def)",
        "importance": "无",
        "name": "Ragnar Klavan",
        "playerid": 7708
        },
        {
        "position": "(def)",
        "importance": "无",
        "name": "Dejan Lovren",
        "playerid": 12995
        },
        {
        "position": "(mid)",
        "importance": "无",
        "name": "James Milner",
        "playerid": 8650
        },
        {
        "position": "(mid)",
        "importance": "无",
        "name": "Adam Lallana",
        "playerid": 29468
        },
        {
        "position": "(mid)",
        "importance": "无",
        "name": "Jordan Henderson",
        "playerid": 35653
        },
        {
        "position": "(mid)",
        "importance": "无",
        "name": "Georginio Wijnaldum",
        "playerid": 23074
        },
        {
        "position": "(att)",
        "importance": "无",
        "name": "Sadio Mane",
        "playerid": 47928
        },
        {
        "position": "(att)",
        "importance": "无",
        "name": "Divock Origi",
        "playerid": 52386
        },
        {
        "position": "(att)",
        "importance": "无",
        "name": "Roberto Firmino",
        "playerid": 44074
        },
        {
        "position": "(def)",
        "importance": "无",
        "name": "Joel Matip",
        "playerid": 40140
        }
        ],
        "homeAtHomeLatest5": "1XX1X",
        "matchDate": "2016-12-20 12:00:00",
        "homeFormation": "",
        "matchId": 113182,
        "awayName": "Liverpool",
        "homeinjury": null,
        "weather": 7,
        "homeName": "Everton",
        "homeLatest5": "12X2X",
        "awaySummary": "<p style=\"text-align: justify;\"><strong>Climbed back in second place with convincing 3:0 away win vs. Middlesbrough and will enter the local derby full of confidence &hellip; Can&rsquo;t afford mistakes as gap to the top is already six points &hellip; Ings (sp) (att) and Coutinho (k) (mid) sidelined &hellip; Sturridge (sp) (att), Grujic (sp) (mid), Matip (r) (def) and Can (sp) (mid) doubtful<span style=\"color: #0000ff;\">. Can and Matip passed fit, but Grujic ruled out</span> &hellip; Origi (sp) (att) slight concern ... </strong>Liverpool returned to winning ways on Wednesday night when star performance from Lallana, he scored two goals and added an assist to that, saw the Reds cruising to an easy 3:0 away win vs. Middlesbrough and as a result of that they reclaimed second place on goal difference. Klopp was happy not just with the usual strong display in the final third but also with his team&rsquo;s defensive stability and after being restored between the posts and keeping a clean sheet now Mignolet is almost certain to start again. He has previous experience in this fierce local derby too and Liverpool must seek another win on Monday night if they are to remain with realistic chances to catch Chelsea. In recent weeks the young striker Origi grabbed his chance, he became a regular starter once Coutinho got hurt, and with goals in five consecutive games in all competition the Belgian is taking the league by storm at the minute. He picked up a knock on Wednesday, but it is 99% certain that he will recover on time for this one. All of Sturridge, Grujic, Matip and Can also battle hard to return to full fitness soon and at least the last two have good chances to achieve that on time for the Merseyside derby.&nbsp;<span style=\"color: #0000ff;\">Matip and Can are cleared to play, with Sturridge also hopeful to make the bench, but Grujic will miss again.</span> Ings and Coutinho are long-term absentees and they won&rsquo;t feature.<strong><br /></strong></p>",
        "awayLatest5": "1X21X",
        "awayFormation": ""
        }



## SINA Ying - 中文球员 [/player_cn]

中文球员信息

    
### player_cn [GET]
+ Response 200 (application/json)

        {
        
        }




## SINA Ying - 英文球员 [/player_en?playerId={playerId}]

英文球员信息

请求参数:
- playerId

返回字段:
- position: 球员位置(包括：def (后卫)、att(前锋)、mid(中场)、gk(门将))
- fiveGames: 近5场比赛表现（以数组形式列出）
- homeName: 主队名称
- awayName: 客队名称
- score: 比分（主队分数：客队分数）
- bunko: 赛果（包括：win(胜)、draw(平)、lose(负)  以上赛果均以主队为标准）
- expression: 红黄牌等信息（1-黄牌，2-红牌，3-换上，4-换下，5-首发，6-进球，7-乌龙球  以上为可能出现的全部字段）
- playerImg: 球员图片
- firstNum: 首发场次
- playerName: 球员姓名
- playerid: 球员id
- team: 球队
- yellNum: 黄牌次数
- goalNum: 进球次数
- redNum: 红牌次数
- nationality: 球员国籍
- importance: 球员重要性(球员id评级)
- matchNum: 比赛次数



+ Parameters
    + playerId: `47928` (number) - match id
    
### player_en [GET]
+ Response 200 (application/json)

        {
        "position": "(att)",
        "fiveGames": [
        {
        "homeName": "Liverpool",
        "awayName": "West Ham United",
        "score": "2:2",
        "bunko": "draw",
        "expression": "5"
        },
        {
        "homeName": "Bournemouth",
        "awayName": "Liverpool",
        "score": "4:3",
        "bunko": "win",
        "expression": "4-5-6"
        },
        {
        "homeName": "Liverpool",
        "awayName": "Sunderland",
        "score": "2:0",
        "bunko": "win",
        "expression": "5"
        },
        {
        "homeName": "Liverpool",
        "awayName": "Watford",
        "score": "0:0",
        "bunko": "draw",
        "expression": "4-5-6"
        },
        {
        "homeName": "Liverpool",
        "awayName": "Leeds United",
        "score": "2:0",
        "bunko": "win",
        "expression": "5"
        },
        {
        "homeName": "Middlesbrough",
        "awayName": "Liverpool",
        "score": "0:3",
        "bunko": "lose",
        "expression": "5"
        },
        {
        "homeName": "Southampton",
        "awayName": "Liverpool",
        "score": "0:0",
        "bunko": "draw",
        "expression": "4-5"
        }
        ],
        "playerImg": null,
        "firstNum": 16,
        "playerName": "Sadio Mane",
        "playerid": 47928,
        "team": "Liverpool",
        "yellNum": 2,
        "goalNum": 7,
        "redNum": 0,
        "nationality": "French",
        "importance": "无",
        "matchNum": 16
        }






## SINA Ying - 中文赛事 [/matches_cn]

中文赛事信息

### matches_cn [GET]
+ Response 200 (application/json)

        {
        
        }



## SINA Ying - 英文赛事 [/matches_en?matchId={matchId}]

英文赛事信息

请求参数：
- match id

返回字段：
- homeScoreNo：主队总进球数
- homeFumbleNo：主队失球数
- homeGoalAverage：主队平均进球数
- homeFumbleAverage：主队平均失球数
- awayScoreNo：客队总进球数
- awayFumbleNo：客队失球数
- awayGoalAverage：客队平均进球数
- awayFumbleAverage：客队平均失球数
- keyEvents：关键事件（主客队的进球和红黄牌情况）
- minute：发生关键事件的时间
- eventDesc：红黄牌或进球
- team：1-主队、2-客队
- playerid：该事件的发生者的id
- eventType：事件类型（1-进球，2-点球，5-黄牌，6-红牌，7-两黄牌）
+ Parameters
    + matchId: `113182` (number) - match id

### matches_en [GET]
+ Response 200 (application/json)

        {
        "homeScoreNo": 23,
        "awayName": "Liverpool",
        "awayFumbleNo": 20,
        "homeName": "Everton",
        "homeFumbleAverage": 1,
        "keyEvents": [
            {
            "team":1,
            "eventType":1,
            "eventDesc":"进球",
            "minute":"20"
            "playerid":46124
            },
            {
            "team":1,
            "eventType":2,
            "eventDesc":"点球",
            "minute":"55"
            "playerid":21065
            },
            {
            "team":1,
            "eventType":5,
            "eventDesc":"黄牌",
            "minute":60,
            "playerid":40832
            }
        ],
        "homeFumbleNo": 20,
        "awayGoalAverage": 2,
        "homeGoalAverage": 1,
        "awayScoreNo": 34,
        "awayFumbleAverage": 1
        }





## SINA Ying - 中文赛事 ID [/queryMatchID?uniqueid={uniqueID}]

获取中文赛事 ID

+ Parameters
    + uniqueID: `201612191007` (number) - caiex unique id

### queryMatchID [GET]
+ Response 200 (application/json)

        {
        "matchID": 1284
        }




## SINA Ying - 英文赛事 ID [/querySIMatchID?uniqueid={uniqueID}]

获取英文赛事 ID

+ Parameters
    + uniqueID: `201612191007` (number) - caiex unique id


### querySIMatchID [GET]
+ Response 200 (application/json)

        {
        "caiex_matchnews_id": 113182
        }
        
    
## SINA Ying - 英文赛事列表 [/siMatchList?startTimeStamp={startTimeStamp}&endTimeStamp={endTimeStamp}]

用时间获取赛事列表

+ Parameters
    + startTimeStamp
    + endTimeStamp

### siMatchesList [GET]
+ Response 200 (application/json)

        {
        "kickoffTimeStamp": "1483225000",
        "league": "EPL",
        "home": "Liverpool",
        "away": "Stoke",
        "siMatchId":"113759"
        }
        
        
        
## SINA Ying - 中文赛事列表 [/caiexMatchList?startTimeStamp={startTimeStamp}&endTimeStamp={endTimeStamp}]

用时间获取赛事列表

+ Parameters
    + startTimeStamp
    + endTimeStamp

### caiexMatchesList [GET]
+ Response 200 (application/json)

        {
        "kickoffTimeStamp": "1483225000",
        "league": "英超",
        "home": "利物浦",
        "away": "斯托克城",
        "uniqueId":"201612272006"
        }